<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dummies.ecoscoutgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PilihLevelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainLevel1Part1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainLevel1Part2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CaraMain1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CaraMain2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Opening1Level1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Opening2Level1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainTabletActivity"
            android:label="@string/title_activity_main_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".PilihLevelTabletActivity"
            android:label="@string/title_activity_pilih_level_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".CaraMain1TabletActivity"
            android:label="@string/title_activity_cara_main1_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Opening1Level1TabletActivity"
            android:label="@string/title_activity_opening1_level1_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Opening2Level1TabletActivity"
            android:label="@string/title_activity_opening2_level1_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainLevel1Part1TabletActivity"
            android:label="@string/title_activity_main_level1_part1_tablet"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>